NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyA6numrIvEE3Rs0GmHxW_v5I53pmUkciCU
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=budget-planner-8fb85.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=budget-planner-8fb85
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=budget-planner-8fb85.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=1075691009614
NEXT_PUBLIC_FIREBASE_APP_ID=1:1075691009614:web:cb433b5e492f3a42f7f51f